{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% block content %}

<style>
    p, th, td{
        font-size: large;
    }
    td {
        text-align: center;
    }
</style>

<br>
<br>
<br>
<br>
<br>
<p>Barranquilla, {{fecha}}</p>
<p><strong>Señor (a)</strong></p>
<p>{{deudor.full_name}}, {{deudor.cedula}}</p>
<p>{{deudor.direccion}}</p>
<p>{{deudor.empresa_deudor.direccion}}</p>
<p>{{deudor.celular}} {{deudor.adicionado_deudor.celular_add}}</p>
<br>
<br>
<p><strong>Asunto:</strong> Solicitud normalización de sus obligaciones crediticias con carácter urgente.</p>
<br>
<p>Nuestro mayor deseo, es continuar reportando su buen hábito de pago, para que continúe disfrutando de los
                servicios de crédito en todo el sector financiero, ahorrándole costos por intereses moratorios y gastos
                de cobranzas. Requerimos su presencia en nuestras oficinas o comunicarse con uno de nuestros asesores
                para acordar la normalización de sus obligaciones con carácter urgente.</p>
            

<p>El estado de sus obligaciones a la fecha de corte es:</p>

<br>
<table style="border: 1px solid black; padding: 0.5em;">
    <thead>
        <tr>
            <th>Crédito</th>
            <th>Saldo</th>
            <th>Mora</th>
            <th>Pago mínimo</th>
        </tr>
    </thead>
    <tbody>
        {% for credito in creditos %}
        <tr>
            <td>{{credito.codigo_credito}}</td>
            <td>$ {{credito.saldo_insoluto|intcomma}}</td>
            <td>{{credito.dias_mora}}</td>
            <td>$ {{credito.pago_min_estar_al_dia|intcomma}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<br>
<br>
<p>Si al recibir la presente ya normalizó sus obligaciones, por favor haga caso omiso a esta solicitud.</p>

<br>
<p>Cordial saludo,</p>
<br>
<br>
<p>Gerente de Sede</p>


{% endblock content %}
    