{% extends 'base.html' %}

{% load static %}


{% block content %}
<style>
    p, th, td{
        font-size: large;
    }
    td {
        text-align: center;
    }
</style>

<br>
<br>
<br>
<br>
<br>
<p>Barranquilla, {{fecha}}</p>
<p><strong>Señor (a)</strong></p>
<p>{{codeudor.nombres}} {{codeudor.apellidos}}, {{codeudor.cedula}}</p>
<p>{{codeudor.direccion}}</p>
<p>{{codeudor.empresa_deudor.direccion}}</p>
<p>{{codeudor.celular}} {{codeudor.adicionado_deudor.celular_add}}</p>
<br>
<br>
<p><strong>Asunto:</strong> Última solicitud de normalización de sus obligaciones crediticias solidarias.</p>
<br>
<p>Con todos los recordatorios anteriores al señor(a) {{credito.deudor.full_name}}, cédula, {{credito.deudor.cedula}}, 
    y a Usted como deudor solidario, esperábamos la normalización de sus obligaciones solidarias. 
    Antes de iniciar una acción jurídica, queremos conocer las causas que están originando la mora, para buscar la mejor solución,
     ahorrándole costos por intereses moratorios, gastos de cobranzas y costas procesales. Requerimos urgentemente su presencia 
     en nuestras oficinas o comunicarse con uno de nuestros asesores, aproveche esta oportunidad.</p>
            

<p>El estado de sus obligaciones a la fecha de corte es:</p>

<br>
<table>
    <thead>
        <tr>
            <th>Código del crédito</th>
            <th>Saldo insoluto</th>
            <th>Días de mora</th>
            <th>Pago mínimo (estar al día)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{credito.codigo_credito}}</td>
            <td>{{credito.saldo_insoluto}}</td>
            <td>{{credito.dias_mora}}</td>
            <td>{{credito.pago_min_estar_al_dia}}</td>
        </tr>
    </tbody>
</table>

<br>
<br>
<p>Si al recibir la presente ya normalizó sus obligaciones, por favor haga caso omiso a esta solicitud.</p>

<br>
<p>Cordial saludo,</p>
<br>
<br>
<p>DIRECCIÓN NACIONAL DE NORMALIZACIÓN DE CARTERA</p>
<p>BOGOTÁ</p>

{% endblock content %}
    