<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="de" value="{{ user.email }}">
        <input type="hidden" name="pass_de" value="{{ user.pass_email }}">
        <div>
            <label>Subject:</label>
            {{formulario.subject}}
        </div>
        <div>
            <label>Mensaje:</label>
            {{formulario.message}}
        </div>
        <div>
            <label>Para:</label>
            {{formulario.para}}
        </div>
        <div>
            <button type="submit">Enviar correo</button>
        </div>
    </form>
</body>
</html>