{% extends 'users/base_usuarios.html' %}

{% load static %}

{% load humanize %}

{% block content %}
<style>
    th, td {
        border: 2px solid #5ce1e6;
    }
    thead {
        background-color: #00c2cb; color:white;
    }
    .ali {
        text-align: right;
    }
</style>

<div class="top-bar" id="responsive-menu" style="background-color: #00c2cb">
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu style="background-color: #00c2cb">
            <li style="width:160px;height:40px;"><img src="{% static 'img/logo.png' %}" alt="Logo" style="width:100%;height:100%;"></li>
            <li style="width:10px"></li>
            <li style="background-color: #5ce1e6"><a href="{% url 'users:dashboard' %}" style="color:white; font-family:'Archivo Black';font-size:20px">Agenda</a></li>
            <li style="width:10px"></li>
            <li style="background-color: #5ce1e6">
                <a href="{% url 'users:castigo' %}" style="color:white; font-family:'Archivo Black';">Cartera Castigada</a>
            </li>
        </ul>
    </div>
    <div class="top-bar-right">
        <form method="GET" class="">
            <ul class="menu" style="background-color: #00c2cb">
                <li><li style="background-color: #5ce1e6"><a href="{% url 'users:logout' %}" style="color:white; font-family:'Archivo Black';">Salir</a></li></li>
            </ul>
        </form>
    </div>
</div>

<br>
    
<div class="grid-container align-center">
    <div class="grid-x grid-padding-x align-center bordered">
        <table class="sortable" id="agendarTable">
            <thead>
                <tr>
                    <th class="sorttable_nosort">Deudor</th>
                    <th style="cursor: pointer">Saldo insoluto <i class="fi-list"></i></th>
                    <th style="cursor: pointer">Provisión <i class="fi-list"></i></th>
                    <th style="cursor: pointer">Dia de corte <i class="fi-list"></i></th>
                    <th style="cursor: pointer">Dias de mora <i class="fi-list"></i></th>
                    <th style="cursor: pointer">Estado inicial <i class="fi-list"></i></th>
                    <th class="sorttable_nosort">Fecha agendar</th>
                    <th class="sorttable_nosort"></th>
                </tr>
            </thead>
                <tbody>
                    {% for deudor in deudores %}
                    <tr>
                    <form method="post">
                    <input type="hidden" name="deudores" value="{{ deudor.pk }}" />
                    {% csrf_token %}
                    <td>{{deudor.nombres}} {{deudor.apellidos}}</td>
                    <td>$ {{ deudor.total_insolutos|intcomma }}</td>
                    <td>$ {{ deudor.total_provisiones|intcomma }}</td>
                    <td>{{deudor.dia_max_corte}}</td>
                    <td>{{deudor.dia_max_mora}}</td>
                    <td>{{deudor.estado_inicial}}</td>
                    <td>{{form.fecha_nueva_accion}}</td>
                    <td>
                        <button type="submit" class="button success">Agendar</button>
                    </td>
                    </tr>
                    </form>
                    {% endfor %}
                </tbody>
        </table>
    </div>
</div>
<br>
        
{% endblock content %}